@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        border-radius: 100%;
        width: 33px;
        height: 33px;
        background: $main-color;
        z-index: -1;
        left: 0;
        top: -21%;
    }
}

@mixin before_li {
    &::before {
        content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            left: 0px;
            top: 3%;
    }
}