.skills {
    padding-top: 120px;
    &__items {
        padding: 60px 11px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-columns: minmax(270px, auto);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px 13px;
    }
    &__item {
        border: 1px solid #000;
        padding: 30px 29px 25px 30px;
        &-title {
            margin-top: 20px;
            &_mt34 {
                margin-top: 34px;
            }
            &_mt32 {
                margin-top: 32px;
            }
        }
        &:nth-child(4) {
            padding: 45px 29px 25px 30px;
        }
        &:nth-child(7) {
            padding: 38px 29px 25px 30px;
        }
    }
    &__descr {
        margin-top: 15px;
        font-size: 12px;
    }
    &__degrees {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, auto));
        grid-template-rows: repeat(2, minmax(70px, auto));
        grid-auto-columns: minmax(350px, auto);
        grid-auto-rows: minmax(70px, auto);
        gap: 30px 45px;
    }
    &__title {
        position: relative;
        padding-left: 11px;
        @include before_circle;
        &:before {
            top: -30%;
        }
    }
    &__degree {
        display: grid;
        grid-template-columns: repeat(2, minmax(175px, auto));
        grid-template-rows: repeat(2, minmax(35px, auto));
        grid-auto-columns: minmax(175px, auto);
        grid-auto-rows: minmax(35px, auto);
        align-items: center;
    }
    &__percent {
        justify-self: end;
        font-size: 14px;
    }
    &__scale {
        grid-column: 1 / 3;
        align-self: end;
        width: 350px;
        height: 14px;
        background: #E8E4DE;
        border-radius: 4px;
        span {
            display: block;
            height: 100%;
            background-color: $main-color;
            border-radius: 4px;
        }
    }
}